{% extends 'base.html' %}

{% block header %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">リマインダー</h1>
    <p class="lead">タスク一覧</p>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="container">
      <a href="{% url 'task_app:create' %}" class="btn btn-primary">タスクの作成</a>
      {% for item in object_list %}
      <div class="card">
        <h5 class="cord-header">{{ item.category }}</h5>
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <h6 class="card-title">{{ item.content }}</h6>
          <a href="{% url 'task_app:detail' item.pk %}" class="btn btn-primary">タスク詳細</a>
        </div>
      </div>
      {% endfor %}
  </div>
  {% endblock %}